<div ng-controller="registrosController as regCtrl">

	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<th>Servicio</th>
					<th>Inicio</th>
					<th>Fin</th>
					<th>Actividad</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="(key, reg) in regCtrl.regs">
						<td>{{reg.serv.nomServ}} {{reg.serv.apatServ}} {{reg.serv.amatServ}}</td>
						<td>{{reg.regIni}}</td>
						<td>{{reg.regFin}}</td>
						<td>{{reg.regAct}}</td>
						<td>
							<button type="button" class="btn btn-success btn-xs" ng-click="regCtrl.val(key, reg.serv.idServ, reg.idReg)">Validar</button>
							<button title="Eliminar" data-target="#delReg" data-toggle="modal" class="btn btn-danger btn-xs" type="button" ng-click="regCtrl.setDelete(key)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- delete -->
	<div class="modal fade" id="delReg" tabindex="-1" role="dialog" aria-labelledby="servDeleteLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="servDeleteLabel">Eliminar Servicio Social</h4>
	      </div>
	      <div class="modal-body">
	        ¿Desea eliminar el siguiente registro? <br> <br>
	        {{regCtrl.toDelete.nombre}} <br>
	        {{regCtrl.toDelete.regIni}} <br>
	        {{regCtrl.toDelete.regFin}} <br>
	        {{regCtrl.toDelete.regAct}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        <input type="submit" class="btn btn-default" value="Enviar" data-loading-text="Enviando..." ng-click="regCtrl.delete($event)">
	      </div>
	    </div>
	  </div>
	</div>

</div>